@font-face {
  font-family: 'custom';
  src: url('./imgs/ARLRDBD.TTF');
}

#infopane {
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        padding: 20px;
        background: #ccc;
	width: 20%;
}

#map {
        width: 636px;
        height: 636px;
        background: url('./imgs/background.png');
        padding: 0px;
}

.explain {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

body {
        font-family: sans-serif;
        background: green;
}

.marker {
        position: relative;
        height: 5px;
        width: 5px;
        background: black;
}

.point {
        min-height: 21px;
        min-width: 0px;
        position: absolute;
        padding-left: 20px;
        background-image: url('./imgs/star.png');
        background-repeat: no-repeat;
        color: black;
}

#wrapper {
        width: 40%;
        margin: 0px 15%;
        background: white;
	margin-top: 70px;
}

#container {
	margin: 10px auto;
	width: 80%;
	border: 1px solid blue;
	background: #fff;
	border-radius: 10px;
}
